.profileBox{
    display:grid;
    grid-template-rows:60px 230px;
    margin:30px;
    height:90%;
    width:325px;
    background-color: gray;
    border-radius:5%;
    padding:20px;
}

.title{
    font-weight:bold;
    font-size:30px;
    justify-self:center;
    margin:0;
}

.profilePic{
    justify-self:center;
    height:200px;
    width: 200px;
    object-fit: cover;
    margin: 0;
    border-radius:15px;
}

.role{
    font-size:20px;
    justify-self: center;
    margin:0;
}

.infoBox{
    width:auto;
    height:100%;
    padding:10px;
    border-radius: 8%;
    margin:10px;
}

.infoSection{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    margin-top:5px;
    margin-bottom:5px;
}

.aboutLogos{
    height:100%;
}

.profiles{
    display:grid;
    grid-template-columns: 500px 500px 500px;
    height:auto;
    padding-bottom: 30px;
    padding-top:0;
}